@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.centralModCont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.426);
}
.centralMod {
  min-height: 80vh;
  padding: 20px;
  padding-bottom: 100px;
  min-width: 60vw;
  max-width: 70vw;
  position: absolute;
  border: 2px solid skyblue;
  top: 10vh;
}
.balancetab {
  width: 23%;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .mobImg {
    height: 331px;
    margin-top: 0px;
  }
  .mobImgTop {
    margin-bottom: 15px;
  }
}
